<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>StudentInfosystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Personalinfo</display-name>
    <servlet-name>Personalinfo</servlet-name>
    <servlet-class>Personalinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Personalinfo</servlet-name>
    <url-pattern>/Personalinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Acadamicinfo</display-name>
    <servlet-name>Acadamicinfo</servlet-name>
    <servlet-class>Acadamicinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Acadamicinfo</servlet-name>
    <url-pattern>/Acadamicinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Newpwd</display-name>
    <servlet-name>Newpwd</servlet-name>
    <servlet-class>Newpwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Newpwd</servlet-name>
    <url-pattern>/Newpwd</url-pattern>
  </servlet-mapping>
</web-app>